* {
  box-sizing: border-box;
}

:root {
  --top-start: -100%;
  --left-start: -100%;
  --top-end: 100%;
  --left-end: 100%;
  --clockColor: #fff;
}

#animation {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.animation__item {
  position: absolute;
}

.animation__rockets {
  left: 0;
  bottom: var(--rockets-bottom-pos, 140px);
  height: 200px;
  width: 100%;
  display: flex;
  padding-left: 3%;
  padding-right: 8%;
  justify-content: space-between;
}

.preset1 .animation__rockets {
  --rockets-bottom-pos: 140px;
}

.animation__rockets.start {
  animation: slide-up 4s linear forwards;
}

.rockets__starters {
  position: absolute;
  width: 90%;
  left: 8%;
  bottom: var(--starters-bottom-pos, 140px);
}

.preset1 .rockets__starters {
  --starters-bottom-pos: 140px;
}

.item__rocket {
  width: 10%;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .item__rocket {
    animation-duration: 11s;
  }
}

.item__rocket--1 {
  animation-delay: 1s;
  animation-name: bounce-1;
}

.item__rocket--2 {
  animation-delay: 2s;
  animation-name: bounce-2;
}

.item__rocket--3 {
  animation-name: bounce-1;
}

.item__rocket--4 {
  animation-delay: 1.5s;
  animation-name: bounce-1;
}

.item__rocket--5 {
  animation-delay: 2.5s;
  animation-name: bounce-2;
}

.item__rocket--6 {
  animation-delay: 1.4s;
  animation-name: bounce-2;
}

.item__comet {
  top: -100%;
  width: 10%;
  min-width: 20px;
  aspect-ratio: 1/1;
}

.item__comet--1 {
  --top-start: 100%;
  --left-start: 20%;
  --top-end: -80%;
  --left-end: 100%;
  animation: slide-45 4s ease-in-out infinite 9s;
}

.item__comet--1 > img {
  transform: rotate(160deg);
}

.item__comet--2 {
  --top-start: -100%;
  --left-start: 100%;
  --top-end: 100%;
  --left-end: 0%;
  animation: slide-45 6s ease-in-out infinite 9s;
}

.item__comet--3 {
  animation: slide-45 6s ease-in-out infinite 9s;
}

.item__comet--3 > img {
  transform: rotate(275deg);
}

.item__comet--4 {
  --top-start: -100%;
  --left-start: 0;
  --top-end: 110%;
  --left-end: 20%;
  animation: slide-45 4s ease-in-out infinite 9s;
}

.item__comet--4 > img {
  transform: rotate(310deg);
}

.item__planet {
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.item__planet.appear {
  animation: slide-scale-up 9s linear 1 forwards;
}

.item__frame {
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.animate {
  animation: slide-down 6s linear infinite;
}

.item__frame--start {
  top: 0;
  background-position-y: bottom;
}

.item__frame--end {
  top: -100%;
}

.item__frame--1 {
  top: -100%;
  height: calc(100% + 1px);
}

.item__frame--2 {
  top: 0;
  animation-delay: 6s;
}

.item__background {
  top: -500%;
  width: 100%;
  height: 500%;
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-y;
  animation: slide-down 60s infinite linear;
}

.animate--once {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate--stop {
  animation: none !important;
}

.scale-down-dissapear {
  animation: scale-down-dissapear 3s linear forwards 3s;
}

/* clock styles here  */
.clock {
  font-family: 'Orbitron', sans-serif;
  color: var(--clockColor);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 40px;
  font-size: 40px;
}

.clock--stop .clock__colon {
  animation: none;
}

.clock__colon {
  animation: secAnimation 1s infinite;
}

@media screen and (max-width: 768px) {
  .clock {
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 20px;
  }
}

/* Keyframes */

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce-1 {
  0%,
  33%,
  66% {
    transform: translateY(0);
  }
  6%,
  39%,
  72% {
    transform: translateY(-50%);
  }

  13%,
  46%,
  80% {
    transform: translateY(-100%);
  }
  49% {
    transform: translateY(-100%);
  }
  23%,
  62%,
  90% {
    transform: translateY(20%);
  }
}
@keyframes bounce-2 {
  0%,
  33%,
  66% {
    transform: translateY(0);
  }
  6%,
  39%,
  72% {
    transform: translateY(-50%);
  }
  13%,
  46%,
  78% {
    transform: translateY(-100%);
  }
  53% {
    transform: translateY(-100%);
  }
  23%,
  60%,
  90% {
    transform: translateY(30%);
  }
}

@keyframes slide-45 {
  0% {
    left: var(--left-start);
    top: var(--top-start);
  }

  60%,
  100% {
    left: var(--left-end);
    top: var(--top-end);
  }
}
@keyframes slide-down {
  0% {
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-scale-up {
  0% {
    transform: translateY(0) scale(1);
  }
  75% {
    transform: translateY(50%) scale(1);
  }
  100% {
    transform: translateY(50%) scale(6);
  }
}

@keyframes secAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
